@charset "utf-8";
/* CSS Document */
html{ min-height:100%;}
h1,h2,h3,h4,h5,h6,div,dd,dt,dl,form,table,ul,li,a,span,marquee {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
    background-repeat: no-repeat;
}
